*{
  margin: 0;
  padding: 0;
 box-sizing: border-box;
  font-family:  Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
   backdrop-filter: blur(15px);
   background-color: #222;

  color: aliceblue;
}


div{
  width: 100vw;
  border-radius: 50% 0% 15%;
}

table{
  font-size: 0.7em ;
  border-top: 1px solid #4790cc;
  width: 90vw;
  border-radius: 15px;
  border-inline: 1px solid #4790cc;
}

td{
  width: 1.5em;
  height: 1.5em;
  text-align: center;
  vertical-align: middle;
  border-bottom: 1px solid black;
  border-right: 1px solid rgb(30, 32, 32);

}

button{
  
height: 7vh;
width: 6vw;
background-color: #4790cc; 
border: none;
border-radius: 3px;

}

h1, h2,p{
  text-align: center;
}
 .today{
  margin-bottom: 1%;
  font-size: small;
}
h1{
  margin-block: 2%;
}

h2{
  font-size: 2.5em;
  color: rgb(85, 211, 205);
  margin-block: 2%;
}

input {
  border: #5457e2 0.5px solid;

  border-radius: 5px;
  background-color: black;
  align-items: center;
  height: 7vh;
  width: 15vw;
}

th{
  margin-top: 1%;
  background-color: rgb(24, 23, 23);
    border-radius: 15px;
    color: #63a0d3;


}